@charset "UTF-8";
/*Variables*/
section.banner__section {
  background-image: url(../Imgenes/encuentra.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh; }
  section.banner__section h2.banner__titulo {
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-top: 7rem; }
  section.banner__section div.banner__boton {
    text-align: center;
    padding-top: 0rem; }
    section.banner__section div.banner__boton button.boton__General {
      background-color: #2176ba;
      border-radius: 0.4rem;
      border: none;
      padding: 0.3rem 0.9rem 0.6rem 0.9rem; }
      section.banner__section div.banner__boton button.boton__General a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 500; }

@media screen and (max-width: 480px) {
  section.banner__section {
    height: 40vh; }
    section.banner__section h2 {
      display: flex;
      justify-content: center;
      /*width: 50vh;*/
      margin: auto auto;
      font-size: 1.5rem !important;
      padding: 5.5rem 0rem 2rem 0rem !important; } }

@media screen and (max-width: 768px) {
  section.banner__section h2 {
    display: flex;
    justify-content: center;
    width: 90%;
    /*Para que el texto se mantega dentro de una caja*/
    margin: auto auto;
    font-size: 1.5rem !important; } }

/*Variables*/
section {
  /* margin: 5rem 0rem 5rem 0rem;*/
  /*Borde tarjeta*/ }
  section h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 4rem;
    padding-top: 60px; }
    section h2 span {
      color: #2176ba; }
  section div.tarjeta__borde {
    border: #cacaca 1px solid;
    margin-bottom: 4rem;
    /*Cierre padre__tarjeta*/ }
    section div.tarjeta__borde div.tarjeta__padre {
      /*width: 50% + 45%;*/
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-bottom: 15px;
      /*Cierre div.detalles__tarjeta*/
      /*Cierre div.iconosDetalles__tarjetas*/ }
      section div.tarjeta__borde div.tarjeta__padre .tarjeta__padre {
        width: 90%;
        padding-bottom: 15px; }
      section div.tarjeta__borde div.tarjeta__padre div.tarjeta__titulo h3 {
        font-size: 1.4rem;
        padding-top: 20px;
        padding-bottom: 10px; }
      section div.tarjeta__borde div.tarjeta__padre div.tarjeta__detalles {
        display: flex;
        display: inline-flex; }
        section div.tarjeta__borde div.tarjeta__padre div.tarjeta__detalles h4 {
          font-family: "Montserrat", sans-serif;
          font-size: 0.8rem;
          color: #121212;
          font-weight: 600;
          padding-right: 15px; }
      section div.tarjeta__borde div.tarjeta__padre div.tarjeta__iconosDetalles {
        display: flex;
        display: inline-flex;
        align-items: flex-start;
        padding-top: 10px; }
        section div.tarjeta__borde div.tarjeta__padre div.tarjeta__iconosDetalles img.icono__cama--modif {
          width: 25px;
          height: 25px;
          margin-right: 10px; }
        section div.tarjeta__borde div.tarjeta__padre div.tarjeta__iconosDetalles img.icono__ducha--modif {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          margin-left: 45px; }
        section div.tarjeta__borde div.tarjeta__padre div.tarjeta__iconosDetalles img.icono__sup--modif {
          width: 18px;
          height: 20px;
          margin-right: 10px;
          margin-left: 18px; }
      section div.tarjeta__borde div.tarjeta__padre div.precio__h3--modif h3 {
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #2176ba; }

/*Cierre Section*/
/*Variables*/
section.footer__section {
  margin: 0 !important;
  background-image: url(../Imgenes/encuentra.jpg);
  background-size: cover;
  background-position: center;
  height: 30%;
  /*Operaciones con Sass % - %*/
  /*Cierra div.footer__grid*/ }
  section.footer__section h2 {
    text-align: center;
    color: #ffffff;
    padding-top: 5rem; }
  section.footer__section div.footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    /*Cierra div.footer__informacion*/ }
    section.footer__section div.footer__grid div.footer__informacion {
      padding-left: 15rem;
      padding-top: 1rem;
      /*Cierra footer__redesSociales*/ }
      section.footer__section div.footer__grid div.footer__informacion div.footer__contacto {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px; }
        section.footer__section div.footer__grid div.footer__informacion div.footer__contacto img {
          width: 15px; }
        section.footer__section div.footer__grid div.footer__informacion div.footer__contacto p {
          font-family: "Roboto", sans-serif;
          font-size: 0.9rem;
          color: #ffffff;
          padding-left: 10px;
          margin: 0; }
      section.footer__section div.footer__grid div.footer__informacion div.footer__redesSociales {
        display: flex;
        justify-content: center;
        padding-top: 2.5rem; }
        section.footer__section div.footer__grid div.footer__informacion div.footer__redesSociales div {
          background-color: #d6d6d633;
          padding: 10px;
          margin-left: 10px;
          border-radius: 100%; }
          section.footer__section div.footer__grid div.footer__informacion div.footer__redesSociales div img {
            width: 25px;
            display: flex; }
    section.footer__section div.footer__grid div.footer__iframe {
      display: flex;
      display: block;
      width: 300px;
      padding-left: 7rem;
      padding-bottom: 2rem; }

/*Section*/
footer div.footer__footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #2176ba; }
  footer div.footer__footer h5 {
    text-align: center; }
    footer div.footer__footer h5 a {
      text-decoration: none !important;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 0.8rem;
      color: #ffffff; }

/*Footer*/
@media screen and (max-width: 480px) {
  h2.titulo__footer {
    width: 90%;
    margin: auto auto;
    padding-bottom: 3rem; }
  div.footer__grid {
    display: flex !important;
    margin: 0 !important; }
    div.footer__grid .footer__informacion {
      margin: auto auto !important;
      padding: 0rem !important;
      display: flex;
      display: inline-block; }
    div.footer__grid .footer__iframe {
      margin: auto auto !important;
      padding: 3rem 0rem 2rem 0rem !important;
      display: flex;
      display: inline-block; }
  /*Cierra footer grid*/ }

/*Cierra @media 480px*/
/*Animación Agrandar*/
.animacion__agrandar {
  transition: all 1s; }

.animacion__agrandar:hover {
  transform: scale(1.1, 1.1); }

/*Animación Arriba*/
.animacion__arriba {
  transition: all 0.5s ease; }

.animacion__arriba:hover {
  transform: translate(0px, -5px); }

/*Animación de entrada Slider-Derecho */
.animacion__slider {
  animation-duration: 2s;
  transition: all 2s ease;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 10%;
    width: 100%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/*Variables*/
* {
  padding: 0;
  margin: 0; }

body {
  /*cierra Header*/ }
  body header.tasaciones__Header {
    background-color: #2176ba;
    height: 17vh;
    background-position: center;
    background-size: cover; }
    body header.tasaciones__Header nav.navbar {
      padding-top: 1.5rem; }
      body header.tasaciones__Header nav.navbar a:hover {
        color: #e9e9e9 !important; }
      body header.tasaciones__Header nav.navbar img {
        width: 22rem; }
  body h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin: 70px 0px 70px 0px; }
    body h1 span {
      color: #2176ba; }
  body section.tasaciones__Section {
    background-color: #ffffff; }
    body section.tasaciones__Section div.texto__Centrado {
      width: 80%;
      /*Operaciones con Sass*/
      margin: auto; }
  body section.tasaciones__Formulario div.formulario__div {
    display: flex;
    justify-content: center; }
    body section.tasaciones__Formulario div.formulario__div form label {
      display: flex;
      display: block;
      margin-bottom: 8px; }
    body section.tasaciones__Formulario div.formulario__div form input.fomularios__input {
      width: 800px;
      height: 40px;
      border-style: solid;
      border-color: #f1f1f1;
      border-radius: 8px;
      -webkit-appearance: none; }
    body section.tasaciones__Formulario div.formulario__div form input.boton__Formulario {
      display: flex;
      display: block;
      background-color: #2176ba;
      border-radius: 0.4rem;
      border: none;
      padding: 0.3rem 0.9rem 0.3rem 0.9rem;
      color: #ffffff;
      margin: 2rem 0 4rem 0; }
    body section.tasaciones__Formulario div.formulario__div form input.fomularios__input:hover {
      border-color: #2176ba; }
    body section.tasaciones__Formulario div.formulario__div input::-webkit-outer-spin-button,
    body section.tasaciones__Formulario div.formulario__div input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }

/*Variables*/
section.tasaciones__Formulario div.formulario__div {
  display: flex;
  justify-content: center; }
  section.tasaciones__Formulario div.formulario__div form label {
    display: flex;
    display: block;
    margin-bottom: 8px; }
  section.tasaciones__Formulario div.formulario__div form input.fomularios__input {
    width: 80%;
    height: 60%;
    border-style: solid;
    border-color: #f1f1f1;
    border-radius: 8px;
    -webkit-appearance: none; }
  section.tasaciones__Formulario div.formulario__div form input[type="text"]::placeholder {
    padding-left: 10px; }
  section.tasaciones__Formulario div.formulario__div form input[type="number"]::placeholder {
    padding-left: 10px; }
  section.tasaciones__Formulario div.formulario__div form input[type="email"]::placeholder {
    padding-left: 10px; }
  section.tasaciones__Formulario div.formulario__div form input[type="texterea"]::placeholder {
    padding-left: 10px; }
  section.tasaciones__Formulario div.formulario__div form input.boton__Formulario {
    display: flex;
    display: block;
    background-color: #2176ba;
    border-radius: 0.4rem;
    border: none;
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
    color: #ffffff;
    margin: 2rem 0 4rem 0; }
  section.tasaciones__Formulario div.formulario__div form input.fomularios__input:hover {
    border-color: #2176ba; }
  section.tasaciones__Formulario div.formulario__div input::-webkit-outer-spin-button,
  section.tasaciones__Formulario div.formulario__div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

@media screen and (max-width: 480px) {
  .tasaciones__Formulario {
    width: 95% !important;
    margin: auto auto; }
    .tasaciones__Formulario h2 {
      width: 80%; }
    .tasaciones__Formulario div.formulario__div {
      display: flex;
      justify-content: center; }
      .tasaciones__Formulario div.formulario__div form {
        width: 80%;
        padding-left: 3rem; }
        .tasaciones__Formulario div.formulario__div form input {
          width: 80% !important; } }

section.whatsapp__fixed {
  display: flex;
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  right: 1rem;
  justify-content: center;
  padding-top: 2.5rem; }
  section.whatsapp__fixed div {
    background-color: #00bb2d;
    padding: 10px;
    margin-left: 10px;
    border-radius: 100%; }
  section.whatsapp__fixed img {
    width: 42px;
    display: flex;
    position: relative;
    left: 2px;
    top: 1px; }

@media screen and (max-width: 480px) {
  section.whatsapp__fixed {
    display: flex;
    position: fixed;
    z-index: 1;
    bottom: 1rem;
    right: 1rem; }
    section.whatsapp__fixed div {
      padding: 7px;
      margin-left: 7px; }
      section.whatsapp__fixed div img {
        width: 24px; } }

/*Cierra @media 480px*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

header.inicio__header {
  background-image: url("../Imgenes/header.jpg");
  height: 100vh;
  /*Operaciones con Sass vh +vh*/
  background-size: cover; }
  header.inicio__header div.fondo__menu {
    background-color: #161616 !important;
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem; }
    header.inicio__header div.fondo__menu nav.navbar {
      padding-top: 1.5rem; }
      header.inicio__header div.fondo__menu nav.navbar a:hover {
        color: #e9e9e9 !important; }
      header.inicio__header div.fondo__menu nav.navbar img {
        width: 22rem; }
  header.inicio__header h1.header__Titulo {
    color: #ffffff;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    /*font-weight: 500px;*/
    padding: 22rem 0rem 0rem 6.8rem;
    text-align: left !important; }

@media screen and (max-width: 480px) {
  nav.navbar {
    padding-top: 0.5rem !important; }
    nav.navbar button.navbar-toggler.bg-light {
      color: #ffffff00 !important; }
  header {
    background-image: url("../Imgenes/header.jpg");
    height: 75vh !important;
    background-size: cover; }
  header img {
    width: 100% !important; }
  header h1 {
    font-size: 1.5rem !important;
    text-align: left;
    padding: 0rem !important;
    display: flex;
    position: absolute;
    left: 2rem;
    top: 53%; } }

@media screen and (max-width: 768px) {
  header {
    height: 100vh;
    background-size: cover;
    padding-top: 1.5rem; }
  header img {
    width: 20rem; }
  header h1 {
    padding: 16rem 0rem 0rem 0rem;
    text-align: center;
    font-size: 2.1rem;
    display: flex;
    align-items: center; } }
