@import "variables";
* {
  padding: 0;
  margin: 0;
}
body {
  header.tasaciones__Header {
    background-color: $colorMarca;
    height: 17vh;
    background-position: center;
    background-size: cover;

    nav.navbar {
      padding-top: 1.5rem;
      a:hover {
        color: #e9e9e9 !important;
      }

      img {
        width: 22rem;
      }
    }
  } /*cierra Header*/


  h1.titulo__tasaciones {
    text-align: center;
    font-family: $fontMonserrat;
    font-size: 2rem;
    font-weight: 500;
    margin: 70px 0px 70px 0px;


    span {
      color: $colorMarca;
    }
  }

  section.tasaciones__Section {
    background-color: #ffffff;

    div.texto__Centrado {
      width: $width * 2; /*Operaciones con Sass*/
      text-align: justify;
      margin: auto auto;
    }
  }

  section.tasaciones__Formulario {
    div.formulario__div {
      display: flex;
      justify-content: center;
      form {
        label {
          display: flex;
          display: block;
          margin-bottom: 8px;
        }

        input.fomularios__input {
          width: 800px;
          height: 40px;
          border-style: solid;
          border-color: $colorFondo;
          border-radius: 8px;
          -webkit-appearance: none;
        }

        input.boton__Formulario {
          display: flex;
          display: block;
          background-color: $colorMarca;
          border-radius: 0.4rem;
          border: none;
          padding: 0.3rem 0.9rem 0.3rem 0.9rem;
          color: $colorTBlanco;
          margin: 2rem 0 4rem 0;
        }
        input.fomularios__input:hover {
          border-color: $colorMarca;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  
  header.tasaciones__Header {
    background-image: none;
    background-color: $colorMarca !important;
    height: 13vh !important;
    background-position: center;
    background-size: cover;

    nav.navbar {
      padding-top: 1.5rem !important;
      a:hover {
        color: #e9e9e9 !important;
      }

      img {
        width: 22rem;
      }
    }
  } /*cierra Header*/

  h1 {
   text-align: center;
   margin: auto auto!important;
   font-size: 1.5rem !important;
   margin: 70px 10px 70px 10px !important;

  } 
}


@media screen and (min-width: 768px) and  (max-width: 991px) {

  

  header.tasaciones__Header {
    background-image: none;
    background-color: $colorMarca !important;
    height: 14vh !important;
    background-position: center;
    background-size: cover;

    nav.navbar {
      padding-top: 0.0rem !important;
      a:hover {
        color: #e9e9e9 !important;
      }

      img {
        width: 22rem;
      }
    }
  } /*cierra Header*/

  h1 {
   text-align: center;
   margin: auto auto!important;
   font-size: 2rem !important;
   margin: 70px 10px 70px 10px !important;

  } 
}