@import "banner";
@import "tarjetas";
@import "footer";
@import "animaciones";
@import "tasaciones";
@import "variables";
@import "formulario";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header.inicio__header {
  background-image: url("../Imgenes/header.jpg");
  height: $vh + $vh; /*Operaciones con Sass vh +vh*/
  background-size: cover;

  nav.navbar {
    padding-top: 1.5rem;

    a:hover {
      color: #e9e9e9 !important;
    }

    img {
      width: 22rem;
    }
  }

  h1.header__Titulo {
    color: #ffffff;
    font-size: 2rem;
    font-family: $fontMonserrat;
    text-align: left !important;
    position: absolute;
    left: 7.5rem;
    top: 83%;
  }
}

@media screen and (max-width: 767px) {
  .fondo__menu {
    background-color: #161616;
    margin-top: 1rem;
    padding-left: 2rem;
    position: absolute;
    width: 106%;
    max-width: 106%;
    left: -12px;
    top: 64px;
    z-index: 1000;
  }

  nav.navbar {
    padding-top: 2rem !important ;

    button.navbar-toggler.bg-light {
      color: #ffffff00 !important;
    }
  }

  header {
    background-image: url("../Imgenes/header.jpg");
    height: 75vh !important;
    background-size: cover;
  }

  header img {
    width: 100% !important;
  }

  header h1 {
    font-size: 1.5rem !important;
    text-align: left;
    padding: 0rem !important;
    position: absolute;
    left: 2rem !important;
    top: 53% !important;
  }
}
/**
@media (min-width: 481px) and (max-width: 767px) {
  
**/
// Tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fondo__menu {
    background-color: #161616;
    margin-top: 1rem;
    padding-left: 2rem;
    position: absolute;
    width: 110%;
    max-width: 110%;
    left: -12px;
    top: 64px;
    z-index: 1000;
  }

  header {
    height: 70vh;
    background-size: cover;
    padding-top: 1.5rem;
  }

  header img {
    width: 20rem;
  }

  h1.header__Titulo {
    font-size: 1.5rem !important;
    text-align: left;
    padding: 0rem !important;
    display: flex;
    position: absolute;
    left: 3rem;
    top: 70%;
  }
}
