@import "banner";
@import "tarjetas";
@import "footer";
@import "animaciones";
@import "tasaciones";
@import "variables";
@import "formulario";
@import "whatsapp";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header.inicio__header {
  background-image: url("../Imgenes/header.jpg");
  height: $vh + $vh; /*Operaciones con Sass vh +vh*/
  background-size: cover;

  div.fondo__menu{
    background-color: #161616 !important;
    width: 100%;
    margin-top:1rem;
    padding-left: 1rem;
  

  nav.navbar {
    padding-top: 1.5rem ;

    a:hover {
      color: #e9e9e9 !important;
    }

    img {
      width: 22rem;
    }
  }
}
    h1.header__Titulo {
    color: #ffffff;
    font-size: 2rem;
    font-family: $fontMonserrat;
    /*font-weight: 500px;*/
    padding: 22rem 0rem 0rem 6.8rem;
    text-align: left !important;
  }
}


@media screen and (max-width: 480px) {

  nav.navbar {
    padding-top: 0.5rem !important ;
  
  button.navbar-toggler.bg-light {
      
    color:#ffffff00 !important;

  }
}

  header {
    background-image: url("../Imgenes/header.jpg");
    height: 75vh !important;
    background-size: cover;
  }

  header img {
    width: 100% !important;
  }

  header h1 {
    font-size: 1.5rem !important;
    text-align: left;
    padding:0rem !important;
    display: flex;
    position: absolute;
    left: 2rem;
    top:53%;
    
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 100vh;
    background-size: cover;
    padding-top: 1.5rem;
  }

  header img {
    width: 20rem;
  }

  header h1 {
    padding: 16rem 0rem 0rem 0rem;
    text-align: center;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
  }
}
